In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("spam.csv",encoding="ISO-8859-1")

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
X = data.iloc[:,1]

In [5]:
Y = data.iloc[:,0]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
model = CountVectorizer(max_features=1000,min_df=10)

In [8]:
#X_mod = model.fit_transform(X)   it gives us sparse metrix
#X_mod

<5572x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 57938 stored elements in Compressed Sparse Row format>

In [9]:
#print(X_mod)

  (0, 349)	1
  (0, 883)	1
  (0, 653)	1
  (0, 204)	1
  (0, 91)	1
  (0, 605)	1
  (0, 426)	1
  (0, 361)	1
  (0, 968)	1
  (0, 824)	1
  (0, 358)	1
  (0, 917)	1
  (1, 597)	1
  (1, 453)	1
  (1, 944)	1
  (2, 426)	1
  (2, 319)	1
  (2, 280)	2
  (2, 958)	1
  (2, 185)	1
  (2, 846)	3
  (2, 948)	1
  (2, 305)	1
  (2, 510)	1
  (2, 811)	1
  :	:
  (5569, 616)	1
  (5570, 426)	1
  (5570, 319)	1
  (5570, 846)	1
  (5570, 388)	1
  (5570, 435)	1
  (5570, 923)	1
  (5570, 66)	1
  (5570, 470)	1
  (5570, 764)	1
  (5570, 314)	1
  (5570, 820)	1
  (5570, 106)	1
  (5570, 572)	1
  (5570, 230)	1
  (5570, 888)	1
  (5570, 137)	1
  (5570, 767)	1
  (5570, 271)	1
  (5570, 337)	1
  (5570, 367)	1
  (5571, 846)	1
  (5571, 562)	1
  (5571, 436)	2
  (5571, 865)	1

In [10]:
X_mod = model.fit_transform(X).todense()

In [19]:
X_mod.shape

(5572, 1000)

In [12]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
...     X_mod, Y, test_size=0.33, random_state=42)

In [14]:
m2 = BernoulliNB()

In [15]:
m2.fit(X_train,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [16]:
m2.score(X_test,y_test)

0.9836867862969005